<link rel="stylesheet" href="{{ 'lookbook-styles.css' | asset_url }}">

<h1 class="lookbook__title">{{ section.settings.lookbook }}</h1>

<div class="lookbook__box">
{% for block in section.blocks %}
  <a class="lookbook__button" href="#lookbook-popup-{{ block.id }}">
    <img src="{{ block.settings.image | img_url: 'master' }}" class="lookbook__img">
  </a>
  <div id="lookbook-popup-{{ block.id }}" class="lookbook__overlay">
    <div class="lookbook__popup">
        {% if block.settings.image != blank %}
          <div class="lookbook__popup-img">
              <img src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.image.alt }}" class="lookbook__popup-image">
          </div>            
        {% endif %}
        <div class="lookbook__outlook">
          {% if block.settings.product_1 != blank %}
            {% assign product_1 = all_products[block.settings.product_1] %}
            <div class="lookbook__outlook-item">
              {% if product_1.featured_image != blank %}
                <img src="{{ product_1.featured_image | img_url: '150x' }}"
                  alt="{{ product_1.featured_image.alt | default: product_1.title }}" 
                  class="lookbook__item-img"
                >                
              {% endif %}  
              <div class="lookbook__item-info">
                <div class="lookbook__item-header">
                  <h4 class="lookbook__item-title">{{ product_1.title }}</h4>  
                  <h4 class="lookbook__item-title">{{ product_1.price_max }}</h4>
                </div>
                
                <div>
                  <p class="lookbook__item-text">{{ product_1.vendor }}</p>
                  <p class="lookbook__item-text">{{ product_1.type }}</p>
                </div>
                
                <div class="lookbook__item-buttons">
                  <select class="lookbook__item-select">
                    <option>XS</option>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                  </select>
  
                  <button class="lookbook__item-btn"><span>Add to bag</span></button>
                </div>
              </div>
            </div>            
          {% endif %}

          <div class="lookbook__outlook-item lookbook__outlook-item--2">
            <img src="https://i.ibb.co/4JnDdhn/Fida.jpg" alt="Fida" border="0" class="lookbook__item-img">

            <div class="lookbook__item-info">
              <div class="lookbook__item-header">
                <h4 class="lookbook__item-title">FIDA</h4>

                <h4 class="lookbook__item-title">795 EUR</h4>
              </div>
              
              <div>
                <p class="lookbook__item-text">Straight regenerated leather wrap kilt skirt</p>
                <p class="lookbook__item-text">Black</p>
              </div>
              
              <div class="lookbook__item-buttons">
                <select class="lookbook__item-select">
                  <option>XS</option>
                  <option>S</option>
                  <option>M</option>
                  <option>L</option>
                  <option>XL</option>
                </select>

                <button class="lookbook__item-btn"><span>Add to bag</span></button>
              </div>
            </div>
          </div>

          <div class="lookbook__outlook-item lookbook__outlook-item--3">
            <img src="https://i.ibb.co/MBsqVkD/Pillow.jpg" alt="Pillow" border="0" class="lookbook__item-img">

            <div class="lookbook__item-info">
              <div class="lookbook__item-header">
                <h4 class="lookbook__item-title">THE PILLOW BAG</h4>

                <h4 class="lookbook__item-title">745 EUR</h4>
              </div>
              
              <div>
                <p class="lookbook__item-text">Pillow Bag</p>
                <p class="lookbook__item-text">Black</p>
              </div>
              
              <div class="lookbook__item-buttons">
                <p class="lookbook__item-text">One Size</p>

                <button class="lookbook__item-btn"><span>Add to bag</span></button>
              </div>
            </div>
          </div>
        </div>
        <a class="close" href="https://devit-test-dima.myshopify.com/pages/lookbook">&times;</a>
    </div>
  </div> 
{% endfor %}
</div>

{% schema %}
  {
    "name": "lookbook-images",
    "settings": [
      {
        "type": "text",
        "label": "your headline for the section",
        "id": "lookbook"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "your_image"
          },
          {
            "type": "product",
            "id": "product_1",
            "label": "Product top"
          },
          {
            "type": "product",
            "id": "product_2",
            "label": "Product middle"
          },
          {
            "type": "product",
            "id": "product_3",
            "label": "Product bottom"
          }
        ]
      }
    ]
  }
{% endschema %}